<link rel="stylesheet" href="styles.css">
<div class="whole-page">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title center-text">
                Political opinion classifier
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                A simple machine learning based classifier.
                Just enter a political statement and we will try to guess how left-leaning/right-leaning it is.
                <input class="input" type="text" placeholder="Political statement">
                <div class="go-btn columns is-centered">
                    <button class="button is-info">Try</button>
                </div>
            </div>
        </div>
    </div>
</div>
